:root {
  --primary: #f4ad23;
  --background: linear-gradient(to bottom, #46b0da 0%,#135e97 100%);
}
body {
  background: var(--background);
  color: #fff;
  font-family: 'Helvetica';
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.top{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 10px;
}
.top_right{
  padding-top: 5px;
}
.main{
  padding: 60px 0 50px 0;
}
h3 {
  margin: 70px 0 0 0;
  font-size: 35px;
  text-align: center;
}
#main_icon {
  font-size: 100px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.temp, .desc {
  font-size: 42px;
  display: block;
  text-align: center;
}
.desc, .wrapper {
  font-size: 22px;
  margin-top: 10px;
}
.wrapper {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 35px;
}
.arrow{
  font-size: 32px;
  position: absolute;
  top: 290px;
  cursor: pointer;
  color: var(--primary);
  z-index: 100;
}
.left_arrow {
  left: 30px;
}
.right_arrow {
  right: 30px;
}
.date {
  font-weight: 600;
  font-size: 20px;
}
input {
  height: 45px;
  width: 150px;
  font-size: 20px;
  padding: 0 40px 0 15px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background: transparent;
  backdrop-filter: brightness(1.2);
  border: 0;
  border-bottom: 2px solid var(--primary);
}
input::placeholder {
  font-family: FontAwesome;
  color:#fff;
}
.fa-location-dot{
  font-size: 22px;
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-list {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  text-align: left;
  border-top: none;
}
.autocomplete-list div {
  padding: 10px;
  cursor: pointer;
  background: transparent;
  backdrop-filter: brightness(1.2);
}
.autocomplete-list div:hover {
  background-color: transparent;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #fff;
}
.fa-clock {
  font-size: 26px;
  cursor: pointer;
  margin-left: 6px;
  margin-top: -4px;
  vertical-align:middle;
}
.hourly_weather {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--background);
  border-radius: 10px;
  overflow-y: auto;
  padding-bottom: 50px;
}
.fa-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 26px;
  cursor: pointer;
}
.hourly_weather h2 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul li {
  text-align: center;
  background: transparent;
  backdrop-filter: brightness(1.2);
  margin: 15px;
  font-size: 22px;
  padding: 30px;
  transition: 0.4s;
  width: 300px;
}
ul li i {
  font-size: 35px;
  margin: 15px;
}
.span_group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 22px;
  margin-top: 50px;
}
.fa-snowflake {
  color: #81ecec;
}
.fa-droplet {
  color: #3cb7f6;
}
.fa-water {
  color: #74b9ff;
}
.fa-cloud-rain, .fa-cloud{
  color: #dfe6e9;
}
.fa-moon{
  color: #ffeaa7;
}
.fa-sun{
  color: #fffa65;
}